<div id="lega-details" class="flex flex-col flex-grow md:flex-row">
    <div id="squadre-fantacalcio" class="p-4 sm:p-6 w-full max-w-full overflow-x-hidden">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Le Rose della Lega</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 w-full">
            @for (rosa of this.legaService.getRosaSquadraDTO(); track rosa.squadraId) {
            <app-formazione-component  
                [rosa]="rosa"
                (eliminaGiocatore)="handleEliminaGiocatore($event)"
                (aggiungiGiocatore)="handleAggiungiGiocatore($event)">
            </app-formazione-component>
            }
        </div>
    </div>
</div>
