@use '@angular/material' as mat;
@use 'sass:map';
:host {
    display: flex;
    overflow-y: auto;
   
}

.custom-card {
  @include mat.card-overrides((
    subtitle-text-color:#005cbb,
    outlined-container-color:#f5f8fa,
    outlined-outline-color: #c4c7c5,
    outlined-outline-width: 4px
  ));

}
